<table class="table">
  <thead>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Address</td>
    <td>Phone</td>
    <td>
      <form #formSearch="ngForm" (ngSubmit)="searchUser(formSearch.value.name)" class="d-flex">
        <input class="" name="name" type="text" ngModel placeholder="Search By Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </td>
  </tr>
  </thead>
  <tbody>
  <h1 *ngIf="listUser.length === 0">
    <h1>No Data</h1>
  </h1>
  <tr *ngFor="let user of listUser">
    <td>{{ user._id }}</td>
    <td>{{ user.name | uppercase }}</td>
    <td>{{ user.address | formatPhone }}</td>
    <td>{{ user.phone }}</td>
    <td>
      <button [type]="'button'" (click)="deleteUser(user._id)" class="btn btn-primary">Delete</button>
      <button [type]="'button'" (click)="setIdUser(user._id)" class="btn btn-danger">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
